	<div class="contraModal">
		<p id="close">X</p>
		<h4>Congratulations! 30 extra lives!</h4>
	</div>

	<nav>
		<ul>
			<li class="contact rotater"><div class="target"><a href="#contact" class="cubeRotate">CONTACT</a></div></li>
			<li class="pipe">|</li>
			<li iclass="portfolio rotater"><div class="target"><a href="#portfolio" class="cubeRotate">PORTFOLIO</a></div></li>
			<li class="pipe">|</li>
			<li class="about rotater"><div class="target"><a href="#about" class="cubeRotate">ABOUT</a></div></li>
		</ul>
	</nav>

	<aside id="socials">
		<ul>

			<li class="social-icon" id="">
				<a href="https://www.linkedin.com/in/marco-principio/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
			</li>

			<li class="social-icon" id="">
				<a href="https://github.com/m081779" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
			</li>

			<li class="social-icon" id="">
				<a href="https://stackexchange.com/users/11545358/marco-principio" target="_blank"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></a>
			</li>

			<li class="social-icon" id="">
				<a href="https://www.facebook.com/people/Marco-Principio/100004311826507" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
			</li>

			<li class="social-icon" id="">
				<a href="https://twitter.com/marco_principio" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
			</li>

			<li class="social-icon" id="">
				<a href="https://codepen.io/Principio/" target="_blank"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>
			</li>

		</ul>
	</aside>
	<div class="wrapper">
		<figure id="cube">
			<section id="about" class="main-content clearfix">
				<h1 class="main-heading img-shadow">ABOUT ME</h1>
				<p class="float-left" id="about-text"><img id="main" src="/images/portfolio-pic.jpeg" alt="Image of Marco Principio and his wife" class="main-img float-left img-shadow" >Hello, whomever you are, and welcome to my little slice of the world wide web. Feel free to poke around, just make yourself at home! If you would like to see some of my work, please check out my portfolio.

				<br><br>
				But enough of the formalities, let's get to the meat and potatoes of the matter. Who am I? Well, I'm a guy who likes to make...things. Things of all sorts, but mostly of the pixel-based variety.

				<br><br>

				My interest in writing code started with dabbling in writing scripts for microcontrollers, and eventually led to the wonderful world of web development.

				<br><br>

				Now, I am a full stack web developer with expertise in a variety of web technologies, and all stages of development from design to deployment.

				<br><br>

				Bookmark this page if you would like to keep tabs on my progress, and if you would like to work with me, then hit me up on my contact form. Thanks, and have an awesome day!</p>

				<br>
			</section>


			<section id="portfolio" class="main-content">
				<h1 class="main-heading img-shadow">PORTFOLIO</h1>
				<div class="img-wrapper">

					{{#each projects}}
						<div class="img-container img-shadow" id="item5">
							<a href={{url}}  target="_blank">
								<h3 class="img-heading">{{this.title}}</h3>
								<img src={{img}} alt="Screen capture of {{title}}">
							</a>
						</div>
					{{/each}}



					{{!-- <div class="img-container img-shadow" id="item1">
						<a href="http://nyt-react-map.herokuapp.com/" target="_blank">
							<h3 class="img-heading">React NYT Article Search</h3>
							<img src="/images/nytreact300x200.jpg" alt="Screen capture of React NYT article search">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://principio-movie-list.herokuapp.com/" target="_blank">
							<h3 class="img-heading">Watcha-Da-Movie</h3>
							<img src="/images/movie300x200.jpg" alt="Screen capture of Watcha-Da-Movie">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://map-sweet-talk.herokuapp.com/" target="_blank">
							<h3 class="img-heading">Sweet Talk Dating</h3>
							<img src="/images/sweet300x200.jpg" alt="Screen capture of Sweet talk dating">
						</a>
					</div>

					<div class="img-container img-shadow" id="item2">
						<a href="https://m081779.github.io/PokeRPG/" target="_blank">
							<h3 class="img-heading">Poke-Map Challenge</h3>
							<img src="/images/poke300x200.jpg" alt="Screen capture of Poke-Map Challenge RPG">
						</a>
					</div>

					<div class="img-container img-shadow" id="item6">
						<a href="https://m081779.github.io/TriviaGame/" target="_blank">
							<h3 class="img-heading">Trivia Game</h3>
							<img src="/images/trivia300x200.jpg" alt="">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://m081779.github.io/Hangman-Game/" target="_blank">
							<h3 class="img-heading">Supervillain Hangman</h3>
							<img src="/images/supervillain300x200.jpg" alt="Screen capture of Supervillain hangman game">
						</a>
					</div>

					<div class="img-container img-shadow" id="item3">
						<a href="https://m081779.github.io/week-4-game/" target="_blank">
							<h3 class="img-heading">BUGZ: Fight or Die!</h3>
							<img src="/images/bugz300x200.jpg" alt="Screen capture of BUGZ RPG">
						</a>
					</div>

					<div class="img-container img-shadow" id="item4">
						<a href="https://m081779.github.io/bouncing-balls/" target="_blank">
							<h3 class="img-heading">HTML5 Canvas ball animation</h3>
							<img src="/images/balls300x200.jpg" alt="Screen capture of HTML5 Canvas ball animation">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://m081779.github.io/Canvas-rainbow-draw/" target="_blank">
							<h3 class="img-heading">HTML5 Canvas Draw</h3>
							<img src="/images/draw300x200.jpg" alt="Screen capture of canvas draw">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://github.com/m081779/Node-Hangman" target="_blank">
							<h3 class="img-heading">Node CLI Hangman</h3>
							<img src="/images/nodehangman300x200.jpg" alt="Screen capture of Node CLI Hangman">
						</a>
					</div>

					<div class="img-container img-shadow" id="item1">
						<a href="https://m081779.github.io/Train-Scheduler/" target="_blank">
							<h3 class="img-heading">Train Scheduler</h3>
							<img src="/images/train300x200.jpg" alt="Screen capture of train scheduler">
						</a>
					</div> --}}

				</div>
			</section>



			<section id="contact" class="main-content">
				<h1 class="main-heading img-shadow">CONTACT ME</h1>
				<form>
					<input type="text" id="name" placeholder="Name:" class="input-field" />
					<input type="email" id="email" placeholder="E-mail address:" class="input-field" />
					<input type="tel" id="number" placeholder="Phone Number:" class="input-field" />
					<br><br>
					<textarea id="text" value="Message" class="input-field" placeholder="Message:"></textarea>
					<button type="submit" id="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
		Send</button>

				</form>
				<div class="contactInfo">
					<p id="infoText">If you would like to work together (or if you just want a really great chocolate chip cookie recipe) hit me up!</p>
				</div>
				<img id="cookie" src="/images/cookie.png" alt="chocolate chip cookie">
			</section>
		</figure>
	</div>

	<canvas></canvas>
