html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	font-family: 'Press Start 2P', cursive;
	overflow: hidden;
}

a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 2px 30px #fff;
}

a:focus {
	color: #fff;
	text-decoration: none;
}

canvas {
	position: fixed;
	top:0;
	left:0;
	z-index: -1;
	background: #131862; /* For browsers that do not support gradients */ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
	background: -webkit-gradient(linear, 	left top, right bottom, 	from(#131862), to(#000));
	background: linear-gradient(to bottom right, 	#131862, #000); /* Standard syntax */
}

.error {
	height: 100%;
	width: 100%;
	background: #282828;
	margin: 0 auto;
	text-align: center;
}

.error img {
	margin-top: 100px;
}

.main-heading {
	font-size: 30px;
	border: 1px solid white;
	display:inline-block;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #D9313F;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-shadow: -1px 1px 5px #fff;
}

aside  {
	display: inline;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	position:fixed;
	top: 0;
	right: 0;
	margin:330px -150px 0 0;
	text-shadow: 0px 2px 30px #fff;
}

aside ul li {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	margin: 20px;
	display: inline-block;
	-webkit-transition: text-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
	transition: text-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out, text-shadow 300ms ease-in-out;
	transition: transform 300ms ease-in-out, text-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

aside a {
	color: #fff;
}


aside .social-icon:hover {
	-webkit-transform:scale(1.8) rotate(-90deg);
	        transform:scale(1.8) rotate(-90deg);
	color: #fff;
	text-shadow: 0px 2px 30px #fff;
}

.main-img {
	float: left;
	margin:0 50px 37px 0;
	height: 270px;
}

.img-container img {
	-webkit-transform: translateY(4px);
	        transform: translateY(4px);
}

.img-container:hover img {
	-webkit-transform: scale(1.2) translateY(15px);
	        transform: scale(1.2) translateY(15px);
}

.img-container:hover .img-heading {
	-webkit-transform: translate(0,0);
	        transform: translate(0,0);
}

.img-shadow {
	-webkit-box-shadow: -7px 7px 20px 2px rgba(0,0,0,0.5);
	        box-shadow: -7px 7px 20px 2px rgba(0,0,0,0.5);
}

.isActive {
	-webkit-transform: rotate(90deg) translateY(-40px);
	        transform: rotate(90deg) translateY(-40px);
}

.target {
	height: 100px;
}

.target:hover a {
	-webkit-transform: rotate(90deg) translateY(-40px);
	        transform: rotate(90deg) translateY(-40px);
	text-shadow: 2px 2px 30px #fff;
}

.target:active a {
	-webkit-transform: rotate(90deg) translateY(-40px) scale(1.05);
	        transform: rotate(90deg) translateY(-40px) scale(1.05);
}

nav ul li {
	text-align: center;
	display: inline-block;
	line-height: 65px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	margin-left: 15px;
	-webkit-transition: -webkit-transform 300ms ease-in-out;
	transition: -webkit-transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}


nav ul {
	list-style: none;
	float: right;
	margin: 40px 130px;
	text-shadow: 0px 2px 30px #fff;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-transform-origin: left;
	        transform-origin: left;
	pointer-events: visiblePainted;
}

nav {
	position: fixed;
	-webkit-transform: rotate(-90deg) translateX(-100%);
	        transform: rotate(-90deg) translateX(-100%);
	-webkit-transform-origin: left top;
	        transform-origin: left top;
	width: 100vh;

}

.main-content {
	height: 95%;
	position: relative;
	background-color: #EAEAEA;
	margin:100px auto 100px auto;
	padding: 50px;
	font-size: 15px;
	width: 100%;
	line-height: 1.5em;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

#about-text {
	line-height: 20px;
	font-size: 13px;
}

.img-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.img-container {
	/* height: 30%; */
	width: 23%;
	position: relative;
	overflow: hidden;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 20px;
}

.img-container img {
	-webkit-transition: -webkit-transform 300ms ease-in-out;
	transition: -webkit-transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
	width: 100%;
}

.img-heading {
	position: absolute;
	color: white;
	background-color: #D9313F;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	width: 100%;
	bottom: 20px;
	padding: 10px ;
	opacity: 0.9;
	z-index: 100;
	-webkit-transform-origin: bottom left;
	        transform-origin: bottom left;
	-webkit-transition: -webkit-transform 300ms ease-in-out;
	transition: -webkit-transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out;
	transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
	-webkit-transform: rotate(-180deg) translate(100px,-200px);
	        transform: rotate(-180deg) translate(100px,-200px);
	font-weight: 600;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	Content: " ";
	Display: block;
	Clear: both;
}


.contactInfo {
	width: 40%;
    height: 50%;
    position: absolute;
    top: 18%;
    right: 5%;
    text-align: center;
    padding: 5% 0%;
    font-size: 20px;
    line-height: 38px;
    border: 1px solid black;
}


/**************contra modal**************/

.contraModal {
	background: red;
	color: white;
	display: inline-block;
	padding: 25px;
	border-radius: 0 0 10px 10px;
	position: absolute;
	z-index: 1;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-shadow: -1px 1px 5px #fff;
	margin-top: -75px;
	-webkit-transition: margin-top 1s ease;
	transition: margin-top 1s ease;
}

.contraModalShow {
	margin-top: 0;
}

#close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}


/****************form elements******************/



.input-field {
    display: block;
    background-color: #EAEAEA;
    border: none;
    width: 100%;
    border-bottom: solid 1px gray;
    line-height: 30px;
    font-size: 22px;
    height: 4em;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    color: #777;
}

.input-field:focus {
	background: #D9313F;
	opacity: 0.6;
	outline: none;
	color: white;
}

.input-field:hover {
	color: white;
}

.input-field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #EAEAEA inset !important;
}


#submit {
	background-color: gray;
	border: 1px solid #EAEAEA;
	color: #EAEAEA;
	margin-top: 15px;
	-webkit-transition: color 300ms ease-in-out, border 300ms ease-in-out, background-color 300ms ease-in-out;
	transition: color 300ms ease-in-out, border 300ms ease-in-out, background-color 300ms ease-in-out;
	margin-bottom: 120px;
	padding: 15px 30px;
}

#submit:hover {
	background-color: #D9313F;
	color: white;
	border: 1px solid gray;
}

textarea {
	margin-bottom: 20px;
}

form {
	width: 50%;
}

footer {
	height: 80px;
	width: 100%;
	margin: 0 auto;
	background-color: #777;
	color: #ddd;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 80px;
	border-top: 5px solid #D9313F;
}

/*******************Cube code**********************/

.wrapper {
	-webkit-perspective: 100000px;
	        perspective: 100000px;
	position: relative;
	margin:auto;
	width: 1000px;
	height: 100%;
	/*padding-top: 1%;*/
}

#cube {
	-webkit-transform: scale(0.9);
	        transform: scale(0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	position: absolute;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

#about {
	width: 1000px;
	height: 100%;
	margin: 0;
	display: block;
	position: absolute;
	-webkit-transform: rotateY(0deg) translateZ(500px);
	        transform: rotateY(0deg) translateZ(500px);
}

#portfolio {
	width: 1000px;
	height: 100%;
	margin: 0;
	display: block;
	position: absolute;
	-webkit-transform: rotateY(90deg) translateZ(500px);
	        transform: rotateY(90deg) translateZ(500px);
}

#contact {
	width: 1000px;
	height: 100%;
	margin: 0;
	display: block;
	position: absolute;
	-webkit-transform: rotateY(-90deg) translateZ(500px);
	        transform: rotateY(-90deg) translateZ(500px);
	overflow: hidden;

}


/**************cookie code**************/


#cookie {
	position: absolute;
	right: 9%;
	bottom: -40%;
}

.animateCookie {
	-webkit-animation-name: cookie;
	        animation-name: cookie;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	        animation-timing-function: ease;
}

@-webkit-keyframes cookie{
	0% {
		bottom: -40%;
	}

	30%, 50%, 70% {
		bottom: 0%;
	}

	100% {
		bottom: -40%;
	}
}

@keyframes cookie{
	0% {
		bottom: -40%;
	}

	30%, 50%, 70% {
		bottom: 0%;
	}

	100% {
		bottom: -40%;
	}
}
